/* disable defaults */
* {
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
    -webkit-user-select: none;
    /* background-color: red; */
}

.container {
    left: 0;
    top: 0;
    overflow: hidden;
    /* background-color: green; */
}

.draggable {
    -webkit-app-region: drag;
}

* {
    overflow: hidden;
}